:root {
    --bg: black;
    --text_clr: white;
}

body {
    background-color: var(--bg);
    color: var(--text_clr);
    position: relative;
}
#logo {
    top: 0px;
    font-size: 1rem;
    position: absolute;
    left: 10px;
}
#theme{
    position: absolute;
    top: 0px;
    font-size: 1rem;
    right: 10px;
    border-radius: 10px;
    height: 2rem;
}
.animateTheme{
    background-color: orange;
    animation: themebtnanim 1s ease-in 1s infinite alternate forwards;
}
@keyframes themebtnanim {
    0%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("img/img4.png");
    background-size: cover;

    align-content: center;
    /* width: 550px; */
    height: 100%;
    animation: anim 10s ease-in-out 1s infinite forwards alternate;
}

@keyframes anim {
    0% {
        background-position: top center;
        transition: 0.3s;
    }

    25% {
        background-position: right 100px center;
        transition: 0.3s;
    }

    50% {
        background-position: left;
        transition: 0.3s;
    }

    75% {
        background-position: bottom 50px right 50px;
        transition: 0.3s;
    }

    100% {
        background-position: bottom;
        background-size: cover;
        transition: 0.3s;

    }
}

.bg {
    align-content: center;
    text-align: center;
    height: 700px;
    /* width: 200px; */
    /* border: 5px solid green; */
    background-color: rgba(0, 128, 0, 0.231);
    box-shadow: 0px 0px 200px rgba(0, 128, 0, 0.781);
    border-radius: 50%;
}

#name {
    /* position: absolute; */
    top: 0px;
    margin: 0px;
    text-align: center;
    align-content: center;
    font-size: 6rem;
}

#mainline {
    /* animation: mainline 10s ease-in-out 1s 5 forwards alternate-reverse; */
}

@keyframes mainline {
    0% {
        transition: 0.3s;
        transform: translate(0px);
    }

    50% {
        transform: translate(900px);
    }

    100% {
        transform: translate(-900px);
    }
}

.cards {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap;
    align-items:flex-start;
    justify-content:flex-start; */
    gap: 20px;

    /* grid-template-columns: 60px, 60px; */

}

.card1 {
    width: 20rem;
    /* height: 480px; */
    border: 1px solid var(--text_clr);

    font-size: 2rem;
    background-color: rgba(0, 128, 0, 0.19);
    border-radius: 10px;
    line-height: 20px;
    word-spacing: 1px;
    text-align: justify;
    padding: 20px;
}

.card1:hover {
    transition: 1s;
    transform: scale(1.1);
    border: 1px solid white;
    background-image: linear-gradient(rgba(43, 96, 50, 0.944), rgba(12, 56, 18, 0.944), rgba(6, 59, 13, 0.784), rgb(0, 7, 1));
}

.card1work {
    width: 20rem;
    height: 480px;
    font-size: 2rem;
    background-color: rgba(0, 128, 0, 0.19);
    border-radius: 10px;
    justify-content: center;
    line-height: 20px;
    word-spacing: 1px;
    text-align: justify;
    padding: 20px;
    border: 1px solid var(--text_clr);

}
.card1work h4, .card1 h4{
    cursor: pointer;
}


.card1work:hover {
    transition: 1s;
    transform: scale(1.1);
    border: 1px solid white;
    background-image: linear-gradient(rgba(43, 96, 50, 0.944), rgba(12, 56, 18, 0.944), rgba(6, 59, 13, 0.784), rgb(0, 7, 1));
}
.card1work li{
    display: flex;
}

.worksection {
    display: flex;
    flex-wrap: wrap;
    scroll-snap-align: start
}
.worksection li, .worksection a{
        list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.worksection li{
    margin-bottom: 20px;
}

.services li {
    margin-bottom: 20px;
}
.worksection ul{
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    margin-right: 10px;
}
.worksection li {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    height: 30px;
    width: 100%;
}
.worksection a:hover{
    text-decoration: underline;
}


.card1 li:hover ,.worksection li:hover{
    transition: 1s;
    transform: scale(1.009);
    border: 1px solid var(--text_clr);
    background-image: linear-gradient(
    135deg,
    rgba(37, 99, 235, 0.95),
    rgba(30, 104, 138, 0.88),
    rgba(6, 78, 59, 0.82),
    rgba(2, 6, 23, 1));
    box-shadow:
    0 10px 30px rgba(59, 130, 246, 0.25),
    0 0 40px rgba(99, 102, 241, 0.15);
}


.services ul {
    padding: 0px;
    width: 100%;
}

.services li,
.services a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.services a:hover {
    text-decoration: underline solid var(--text_clr);

}

.services li {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    height: 30px;
}



.separator {
    width: 20rem;
    margin-top: 20px;
    border-top: 1px solid white;
}


footer {
    display: block;
    position: fixed;
    align-content: center;
    text-align: center;
    bottom: 0px;
    width: 100%;
    /* height: 100px; */
    background-color: black;
}

.certificate_sec {
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card1 h4 {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    color: white;
}


.certificate_sec:hover {
    transition: 1s;
    transform: scale(1.1);
    border: 1px solid white;
    background-image: linear-gradient(
    135deg,
    rgba(37, 99, 235, 0.95),
    rgba(30, 104, 138, 0.88),
    rgba(6, 78, 59, 0.82),
    rgba(2, 6, 23, 1));
    box-shadow:
    0 10px 30px rgba(59, 130, 246, 0.25),
    0 0 40px rgba(99, 102, 241, 0.15);
}


@media screen and (max-width: 600px) {
#logo, #theme{
    font-size: 0.8rem;
    margin: 5px;
    padding: 5px;
    position: absolute;

}
#name , #mainline{
    font-size: 1rem;
margin: 10px;
padding: 10px;
position: absolute;
top: 100px;
left: 20%;
}
#mainline{
    top: 150px;
    font-size: 0.8rem;
}
.bg{
    position: absolute;
    top: 0px;
}
.cards{
    position: relative;
    top: -500px;
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
}
.card1{
    width: auto;
    height: auto;   
}
.card1 h4{
    font-size: 1rem;
}
footer{
    font-size: 0.8rem;
}
}